.textbox{
    height: 30px;
    width:400px;
    margin-bottom: 20px;
}
.button{
    height: 40px;
    width: 200px;
    margin-right:20px;
    margin-bottom:10px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    color:white;
}
.button a{
    display:block;
    width:100%;
    text-align: center;
    text-decoration: none;
}
.blue{
    background-color: #0055ff;
}
.green{
    background-color: #248b8b;
}
.gray{
    background-color: #888888;
}
.red-button{
    background-color: red;
    width:10%;
}
.top-wrapper{
    display:flex;
    align-items: center;
}

.title{
    display: inline-block;
    margin-right: 50px;
}

.top{
    display: inline-block;
    line-height: 40px;
}

table{
    border-collapse: collapse;
    border-color: #888888;
    text-align: center;
}
td{
    
    padding:10px 40px;
    margin: 5px;
}
.label{
    background-color: #ccffff;
}