*{
    font-family: serif;
}

body{
    background-color:gray;
    text-align: center;
    margin-top:100px;
}
h1,h2,p,form{
    color: white;
}
h1{
    border-bottom:3px solid white;
    margin-bottom: 50px;
}

