body{
    height:auto;
    width:1000px;
}

th{
    background-color: #87ceeb;
}

header{
    height:120px;
}

.header-left{
    width:120px;
    float: left;
    background-color: aqua;
}

.header-right {
    float: left;
}

.header-right p{
    height:60px;
    text-align: right;
    border: 1px solid black;
}

footer{
    height:50px;
    background-color: aquamarine;
}