body{
    height:auto;
    width:1000px;
}

th{
    background-color: #87ceeb;
}

header{
    height:120px;
    width:100%;
}

.header-left{
    height:120px;
    width:200px;
    float: left;
    background-color:#add8e6;
}
.logo{
    width: 100%;
    margin:0 auto;

}
.header-right {
    width:800px;  /*もう少し良い書き方はないか？*/
    height: 120px;
    float: left;
}
.header-right-inner{
    height:60px;
    text-align: right;
    line-height: 60px;
    margin:0 auto;
}
.upper{
    background-color: #87ceeb;    
}
.lower{
    background-color: #00ffff;
}

.blog-table{
    margin:10px auto;
}
.blog-table-record{
    background-color:#e0ffff ;
}
footer{
    height:50px;
    background-color:#00ced1;
}