body{
    width: 400px;
}  
  
.top-wrapper{
    background-color: #141f40;
    height: 100px;
    width:100%;
}
.top-box{
    background-color: white;
    height: 60px;
    width:160px;
    position: relative;
    top:20px;
    left:220px;
}
.top-item{
    background-color: #a9004b;
    height:40px;
    width:40px;
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
    margin-right: 10px;
}
.center{
    height: 250px;
    width: 100%;
}
.center-left{
    background-color: #80bfa8;
    height:100%;
    width: 150px;
    float: left;
}
.center-right{
    background-color: #8c2727;
    height:100%;
    width: 250px;
    float: left;
}
.center-right-box{
    background-color: #ff863f;
    border:5px solid white;
    height: 40px;
    width: 140px;
    position: relative;
    top:40px;
    left:40px;
    margin-bottom: 10px;
}
.under-wrapper{
    background-color: #d98d30;
    height: 100px;
    width: 100%;
}